<!-- contentFor() digunakan untuk supaya bisa dipanggil value yang diisikan didalamnya ke bagian pecahan konten -->
<%- contentFor('content') %>  
<img src="img/OIP.jpg" alt="gambar">
<h1>Giovanni Fransisco Toti</h1>
<p>Student</p>