<!-- contentFor() digunakan untuk supaya bisa dipanggil value yang diisikan didalamnya ke bagian pecahan konten -->
<%- contentFor('content') %> 
<h1>Web server node js</h1>
<p>welcome to my index page</p>